In [1]:
import pandas as pd
import numpy as np

In [3]:
startups = pd.read_csv('startups.csv')

In [4]:
startups

,Unnamed: 0,id,category_code,status,founded_at,logo_width,logo_height,country_code,investment_rounds,invested_companies,...,private_equity,series_a,series_b,series_c,venture,acquiring_object_id,num_acquisizioni_effettuate,acquired_object_id,funded_object_id,fin_org_financed
0,0,c:1,web,operating,2005-10-17,401,54,USA,0,0,...,0.0,5250000.0,9500000.0,25000000.0,0.0,NaN,0.0,NaN,c:1,1.0
1,1,c:10,games_video,acquired,NaN,186,85,USA,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,c:10,NaN,NaN
2,2,c:100,games_video,acquired,NaN,107,34,USA,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,c:100,NaN,NaN
3,3,c:10000,network_hosting,operating,2008-07-26,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,4,c:10001,games_video,operating,2008-07-26,200,74,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196493,196494,c:99940,ecommerce,operating,2007-01-01,200,54,USA,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
196494,196495,c:9995,public_relations,operating,2007-11-01,518,267,USA,0,0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN
196495,196496,c:9996,consulting,operating,1959-01-01,60,33,USA,0,0,...,NaN,NaN,NaN,NaN,NaN,c:9996,5.0,NaN,NaN,NaN
196496,196497,c:9997,search,operating,2008-07-01,230,86,USA,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
196497,196498,c:9998,ecommerce,operating,2007-09-01,510,38,USA,0,0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN

In [5]:
s = startups[startups['status']=='operating']
s

,Unnamed: 0,id,category_code,status,founded_at,logo_width,logo_height,country_code,investment_rounds,invested_companies,...,private_equity,series_a,series_b,series_c,venture,acquiring_object_id,num_acquisizioni_effettuate,acquired_object_id,funded_object_id,fin_org_financed
0,0,c:1,web,operating,2005-10-17,401,54,USA,0,0,...,0.0,5250000.0,9500000.0,25000000.0,0.0,NaN,0.0,NaN,c:1,1.0
3,3,c:10000,network_hosting,operating,2008-07-26,0,0,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,4,c:10001,games_video,operating,2008-07-26,200,74,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
5,5,c:10002,advertising,operating,2007-06-27,284,48,MAR,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
6,6,c:10003,cleantech,operating,2008-08-20,0,0,IND,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196493,196494,c:99940,ecommerce,operating,2007-01-01,200,54,USA,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
196494,196495,c:9995,public_relations,operating,2007-11-01,518,267,USA,0,0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN
196495,196496,c:9996,consulting,operating,1959-01-01,60,33,USA,0,0,...,NaN,NaN,NaN,NaN,NaN,c:9996,5.0,NaN,NaN,NaN
196496,196497,c:9997,search,operating,2008-07-01,230,86,USA,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
196497,196498,c:9998,ecommerce,operating,2007-09-01,510,38,USA,0,0,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN

In [6]:
s['category_code'].value_counts()

category_code
software            16015
web                 13485
other               13122
ecommerce            8603
games_video          6944
mobile               6223
advertising          5665
consulting           4816
enterprise           3908
biotech              3610
education            2854
hardware             2585
public_relations     2536
search               2055
network_hosting      2051
cleantech            1693
health               1651
finance              1306
social               1227
medical              1098
security             1006
legal                1003
analytics             965
travel                902
local                 781
hospitality           738
news                  724
sports                661
manufacturing         632
music                 556
fashion               538
photo_video           519
transportation        476
real_estate           459
semiconductor         455
automotive            278
design                274
messaging             244
nonprofit             183
nanotech               67
pets                   61
government             43
Name: count, dtype: int64